.dhp_container {
	margin: 25px 10px 15px;
	position: relative;
	padding: 25px 10px 15px;
	border: 1px solid #ddd;
	clear: both;
	/*background-color: rgba(255,255,255,1);*/
}

#payment .dhp_container {
	margin-top: 100px;
}

#order_review.no-payments .wc_payment_methods,
#dhp-order-review.no-payments .wc_payment_methods,
#dhp-wrapper.embexp .wc_payment_methods {
	display: none;
}

#dhp-wrapper.embexp {
	border: 1px solid #eee;
	padding: 5px;
}

#order_review.no-payments #place_order,
#dhp-order-review.no-payments #place_order {
	display: none;
}

.dhp_container>label {
	position: absolute;
	top: -12px;
	left: 10px;
	/*background-color: #fff;*/
}

.dhp_container .dhp_checkout {
	display: flex;
	width: 100%;
}

.dhp_container .dhp_checkout>div {
	width: 50%;
	max-width: 335px;
	text-align: center;
	margin: 15px auto 15px;
	padding: 0px;
}

.dhp_container .dhp_checkout>div:nth-child(2n){
	margin: 15px 0px 15px 5px;
}

.dhp_container .dhp_checkout a {
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid #ddd;
	/*background-color: rgba(255,255,255,1);*/
	display: block;
	padding: 10px 0px;
}

.dhp_container .dhp_checkout a:hover {
	/*background-color: rgba(200,200,200,0.8);*/
}

.dhp_container .dhp_checkout .dhp_ebch a {
	background-color: rgba(7,70,96,1);
	border: 1px solid rgba(7,70,96,1);
	color: #fff;
}

.dhp_container .dhp_checkout .dhp_ebch a:hover {
	background-color: rgba(7,70,96,1);
	border: 1px solid rgba(0,0,0,1);
}

.dhp_container .dhp_checkout .dhp_exch a {
	background-color: rgba(13,230,149,1);
	border: 1px solid rgba(13,230,149,1);
	color: #fff;
}

.dhp_container .dhp_checkout .dhp_exch a:hover {
	background-color: rgba(13,230,149,1);
	border: 1px solid rgba(0,0,0,1);
}

.dhp_checkout_logo {
	text-align: center;
}

.dhp_checkout_logo img {
	width: 600px;
	max-width: 100%;
	margin: auto;
}

.dhp_footer_logo {
	text-align: center;
	padding: 15px;
}

.dhp_footer_logo img {
	max-height: 100px;
	max-width: 100%;
	margin: auto;
	width: auto;
}

.woocommerce-checkout #customer_details {
	padding-bottom: 25px;
}

.woocommerce-checkout.dhp-exp #customer_details {
	display: none;
}

.dhp-hide {
	display: none;
}

.dhp-checkout-tab {
	display: flex;
	margin-bottom: 25px;
}

.dhp-checkout-tab>div {
	flex: auto;
	border: 1px solid #e8e8e8;
	text-align: center;
	padding: 10px 10px;
}

.dhp-checkout-tab>div:hover {
	border-top: 1px solid rgb(150,150,150);
	background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(240,240,240,1) 12%, rgba(255,255,255,1) 100%);
	cursor: pointer;
}

.dhp-checkout-tab>div.active {
	border-top: 1px solid rgb(203,203,203);
	border-bottom: 1px solid rgb(255,255,255);
	background: rgb(203,203,203);
	background: linear-gradient(180deg, rgba(215,215,215,1) 0%, rgba(235,235,235,1) 25%, rgba(255,255,255,1) 100%);
	font-weight: bold;
	color: #000;
}

#dhp-embed .dhp-logo {
	text-align: center;
	width: auto;
    margin: auto;
}

#dhp-embed .dhp-logo img {
	width: auto;
    margin: auto;
}

@media (max-width: 375px) {
	.dhp_container .dhp_checkout {
		display: inherit;
	}

	.dhp_container .dhp_checkout>div {
		width: auto;
		margin: 15px 5px 15px 5px;
	}

	.dhp_container .dhp_checkout>div:nth-child(2n) {
		margin: 15px 5px 15px 5px;
	}
}