<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="WCDintero">
			<directory prefix="test-" suffix=".php">./tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>includes</directory>
			<directory>templates</directory>
		</whitelist>
	</filter>
</phpunit>
